* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Navbar styling */

.nav-container {

}

.navbar {
    margin: 0 auto;
    width: 1440px;
    height: 72px;
    background-color: #e3e8e6;
    color: #6c7075;
}

.navbar ul {
    display: flex;
    height: 72px;
    font-size: 20px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar ul .active {
    background-color: #c2185b;
    color: white;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a.activated {
    color: white;
}

/* Content body */

.content-body {
    width: 1440px;
    min-height: 1300px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

.intro-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.intro-container h1 {
    color: black;
    margin-top: 15px;
}

.intro-container .page-description {
    color: #616161;
}

.content-body .artifact-display {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

.content-body .sketchfab-embed-wrapper {

}


/* Footer section */

.footer-section {
    width: 1440px;
    height: 330px;
    background-color: #e3e8e6;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0 50px 0;
}

.footer-content .info-container {
    width: 440px;
}

.footer-content .contacts-container {
    padding-top: 25px;
}

.contacts-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.info-section .contact-info {
    line-height: 1.6;
}

.newsletter {
    margin-top: 15px;
}

.footer-content .info-container .m-name {
    display: flex;
    padding-bottom: 20px;
}

.socials-container {
    padding-top: 25px;
}

.icon-container a {
    color: black;
    margin-right: 5px;
}

.icon-container i {
    font-size: 25px;
}

.newsletter .input-container {
    display: flex;
}

.newsletter .btn {
    height: 35px;
    background-color: #c2185b;
    color: white;
    padding: 0 15px 0 15px;
}

.footer-section .copyright {
    height: 50px;
    background-color: #c2185b;
    align-content: center;
}

.footer-section .copyright .copyright-text {
    color: white;
    padding: 20px 160px 10px 160px;
}